<template>
    <section class="hero is-fullheight" v-if="state == 'game'">
		<div class="hero-body">
			<div class="container">
				<div class="column is-6 is-offset-3 has-text-centered">	
					<center>
						<b-tabs position="is-centered" type="is-toggle animated" v-model="turn">
							<b-tab-item v-for="player in players" :key="player.id" :label="player.name + ' ' + player.score"></b-tab-item>
						</b-tabs>

						<p style="font-size: 32px; margin: 50px 0;">{{ question }}</p>
						<!-- <figure class="image">
							<img :src="imageSrc">
						</figure> -->
					</center>
					<progress class="progress is-link" id="timeRemaining" :value="progressValue" max="100"></progress>
					<button class="button is-link" @click="skip()">{{ translations.game.skip }}</button>
					<button class="button is-link" @click="point()">{{ translations.game.assign }}</button>

					<p id="tooltip">{{ translations.game.tooltip }}</p>
				</div>
			</div>
		</div>
    </section>

	<section section class="hero is-fullheight" v-else-if="state == 'summary'">
		<div class="hero-body">
			<div class="container">
				<div class="column is-6 is-offset-3 has-text-centered">	
					<center>
						<h1 class="title">{{ translations.result.title }}</h1>

						<p v-for="player in scoreboard" :key="player.name" style="margin: 2px 0;">
							<b>{{ player.name }}</b> - {{ player.score }}
						</p>

						<p class="subtitle" style="margin: 25px 0;">{{ translations.result.question }}</p>

						<button class="button is-link" @click="returnToLobby()">{{ translations.result.return }}</button>
						<button class="button is-link" @click="continuePlaying()">{{ translations.result.continue }}</button>
						<p id="tooltip">{{ translations.result.tooltip }}</p>
					</center>
				</div>
			</div>
		</div>
	</section>

	<section section class="hero is-fullheight" v-else>
		<div class="hero-body">
			<div class="container">
				<div class="column is-6 is-offset-3 has-text-centered">	
					<center>
						<h1 class="title">{{ translations.result.noQuestionsLeft.title }}</h1>
						<p>{{ translations.result.noQuestionsLeft.message }}</p>

						<p v-for="player in scoreboard" :key="player.name">
							<b>{{ player.name }}</b> - {{ player.score }}
						</p>

						<button class="button is-link" @click="returnToLobby()" style="margin-top: 15px;">{{ translations.result.return }}</button>
					</center>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import Storage from '../data/Storage'
	import Translations from '../data/Translations'

    export default {

        data () {
			return {
				state: 'game',
				sources: Storage.sources,
				players: Storage.players,
				settings: Storage.settings,
				questions: Storage.questions,
				translations: Translations['pl'],
				progressValue: 0,
				timeRemaining: 0,
				winner: null,

				currentQuestionIndex: 0,

				imageSrc: '',
				question: '',
				interval: null,
				turn: 0
			}
		},
		
        created() {
			this.questions = Storage.questions
			this.players = Storage.players
        },		

        methods: {
			pickSource () {
				var imageRandom = Math.floor(Math.random() * this.sources.length)
				var questionRandom = Math.floor(Math.random() * this.questions.length)

				this.currentQuestionIndex = questionRandom;

				// Pick random image source from sources array
				this.imageSrc = this.sources[imageRandom]
				this.question = this.questions[questionRandom]
			},

			startInterval () {

				// Set interval needed to count time remaining
				this.interval = setInterval(() => {

					// Change progress bar value
					this.setProgressBar()

					// Substract from time remaining counter
					this.timeRemaining -= this.settings.progressTick

					// If time remaining is less than zero, reset it and go to next turn
					if (this.timeRemaining < 0) {
						this.timeRemaining = this.settings.timeToAnswer
						this.nextTurn()
					}
				}, this.settings.progressTick)
			},

			setProgressBar () {

				// Set progress bar to value calculated from time remaining in range 0 to 100
				this.progressValue = this.timeRemaining / this.settings.timeToAnswer * 100
			},

			nextTurn () {

				if (!this.questions.length) {
					this.winner = this.players.reduce(function (o, o1) {
						return o.a > o1.a ? o1 : o;
					});

					this.scoreboard = this.players.sort(function (a, b) {
						return a.score > b.score ? a : b;
					});
					
					this.state = 'noQuestionsLeft'
				}

				// Add to turn counter, and if it's greater than player's count, reset turn counter to 0 
				if (++this.turn > this.players.length - 1)
					this.turn = 0
				
				// Reset time remaining to time needed to answer, which is set by user
				this.timeRemaining = this.settings.timeToAnswer

				// Pick new image source
				this.pickSource()
			},

			skip () {

				// Go to next turn without giving points
				this.nextTurn()
			},

			point () {

				this.questions.splice(this.currentQuestionIndex, 1);

				// Add point to current player
				this.players[this.turn].score++

				// If current player score, after adding is >= set win score, and endless mode is OFF
				if (!this.settings.endless && this.players[this.turn].score >= this.settings.winScore) {

					// Assign the winner player object to winner variable
					this.winner = this.players[this.turn]

					// Run summary method that handles all that stuff
					this.summary()
				} 
				
				// Otherwise go next turn
				else this.nextTurn()
			},

			summary () {

				// Change state and clear interval
				this.state = 'summary'
				clearInterval(this.interval)
			},

			returnToLobby () {

				// Go to lobby
				this.$router.push('Lobby')
			},

			restartGame () {

				// Reset score
				this.players.forEach(player => player.score = 0)

				// Reset data
				this.turn = 0
				this.timeRemaining = this.settings.timeToAnswer
				this.pickSource()

				// Start interval
				this.startInterval()

				// Change state
				this.state = 'game'
			},

			continuePlaying () {

				// Activate endless mode
				this.settings.endless = true

				// Reset data
				this.timeRemaining = this.settings.timeToAnswer
				
				// Go to next turn
				this.nextTurn()
				
				// Start interval
				this.startInterval()

				// Change state
				this.state = 'game'				
			}

		},

		created () {

			// If there's no players (user opened game route without creating room in lobby), go to lobby
			if (this.players.length == 0)
				this.$router.push('Lobby')

			// Otherwise...
			else {

				// Set time remaining to time needed to answer, which is set by user
				this.timeRemaining = this.settings.timeToAnswer

				// Pick new image source
				this.pickSource()

				// Start interval used to count time remaining
				this.startInterval()

				// Add keyboard input (32 SPACE | 39 ARROW_RIGHT)
				var vm = this
				window.addEventListener('keyup', event => {
					if (event.keyCode == 32) this.point()
					if (event.keyCode == 39) this.skip()
				})	
			}		
		}
	}
</script>

<style scoped>
	progress {
		margin-top: 10px;
	}
	p#tooltip {
		margin-top: 10px;
		color: grey;
	}
	p.subtitle {
		margin-top: 15px;
		margin-bottom: 10px;
	}
</style>
