<template>
    <main>
        <h1 class="title">{{ translations.lobby.title }}</h1>

        <section id="players">
            <h2 class="subtitle">{{ translations.lobby.players.title }}</h2>

            <b-table :data="players">
                <template slot-scope="player">
                    <b-table-column label="ID" width="50" numeric>
                        {{ player.row.id }}
                    </b-table-column>

                    <b-table-column :label="translations.lobby.players.table.name" width="300">
                        {{ player.row.name }}
                    </b-table-column>

                    <b-table-column :label="translations.lobby.players.table.actions">
                        <b-tooltip label="Remove player"
                            position="is-bottom">
                            <button class="button" style="border: 0; height: 100%;" @click="removePlayer(player.row.id)">
                                <b-icon icon="account-remove" size="is-small" style="height: 10px;"></b-icon>
                            </button>
                        </b-tooltip>
                        <b-tooltip label="Edit player"
                            position="is-bottom">
                            <button class="button" style="border: 0; height: 100%;" @click="editPlayer(player.row.id)">
                                <b-icon icon="account-edit" size="is-small" style="height: 10px;"></b-icon>
                            </button>
                        </b-tooltip>
                    </b-table-column>
                </template>
                <template slot="empty">
                    <div class="content has-text-grey">
                        <p>{{ translations.lobby.players.none }}</p>
                    </div>
                </template>
            </b-table>
        </section>

        <button class="button is-link" @click="addPlayer()">{{ translations.lobby.players.add }}</button>

        <section id="settings">
            <h2 class="subtitle">{{ translations.lobby.settings.title }}</h2>

            {{ translations.lobby.settings.time }}
            <b-field grouped>
                <b-input type="number" placeholder="8" value="8" v-model="timeToAnswer"></b-input>
            </b-field>

            {{ translations.lobby.settings.score }}
            <b-field grouped>
                <b-input type="number is-link" placeholder="10" value="10" :disabled="isEndless" v-model="winScore"></b-input>
            </b-field>
            <b-switch v-model="isEndless" type="is-link">
                {{ translations.lobby.settings.endless }}
            </b-switch>
            
        </section>

        <button class="button is-link" @click="startGame()">Start game</button>
    </main>
</template>

<script>
    import Storage from '../data/Storage'
	import Translations from '../data/Translations'
    
    export default {

        data () {
			return {
                players: [],
                timeToAnswer: 8,
                winScore: 10,
                isEndless: false,
                translations: Translations['pl'],
            }
        },

        methods: {
            addPlayer() {
                this.$dialog.prompt({
                    message: this.translations.lobby.players.popup.addPlayer.message,
                    cancelText: this.translations.lobby.players.popup.addPlayer.cancel,
                    confirmText: this.translations.lobby.players.popup.addPlayer.add,
                    inputAttrs: {
                        placeholder: this.translations.lobby.players.popup.addPlayer.placeholder,
                        maxlength: 15
                    },
                    onConfirm: (value) => {
                        this.$toast.open(`<b>${value}</b> ` + this.translations.lobby.players.info.newPlayer)
                        this.players.push({
                            id: this.players.length,
                            name: value,
                            score: 0
                        })
                    }
                })
            },

            editPlayer (id) {
                let player = this.players.filter(player => player.id == id)[0]

                this.$dialog.prompt({
                    message: this.translations.lobby.players.popup.editPlayer.message,
                    cancelText: this.translations.lobby.players.popup.editPlayer.cancel,
                    confirmText: this.translations.lobby.players.popup.editPlayer.remove,                    
                    inputAttrs: {
                        placeholder: this.translations.lobby.players.popup.editPlayer.placeholder,
                        maxlength: 15
                    },
                    onConfirm: (value) => {
                        // let adjectives = [ 'fancy', 'cool', 'spooky', 'marvelous', 'mmm phenomenal' ]
                        // let adjective = adjectives[Math.floor(Math.random() * adjectives.length)]
                        this.$toast.open(`<b>${player.name}</b> ` + this.translations.lobby.players.info.editPlayer + ` <b>${value}</b>`)
                        player.name = value
                    }
                })
            },  

            removePlayer (id) {
                let player = this.players.filter(player => player.id == id)[0]

                this.$dialog.confirm({
                    message: this.translations.lobby.players.popup.removePlayer.message + ` <b>${player.name}</b>?`,
                    cancelText: this.translations.lobby.players.popup.removePlayer.cancel,
                    confirmText: this.translations.lobby.players.popup.removePlayer.remove,
                    type: 'is-danger',
                    onConfirm: () => {
                        this.$toast.open(`<b>${player.name}</b> ` + this.translations.lobby.players.info.removePlayer)
                        this.players.splice(this.players.indexOf(player), 1)
                        this.players.forEach((player, index) => {
                            player.id = index
                        })
                    }
                })
            },          

            startGame () {
                if (this.players.length < 2) {
                    this.$dialog.alert({
                        title: this.translations.lobby.players.popup.notEnough.title,
                        message: this.translations.lobby.players.popup.notEnough.message,
                        type: 'is-danger',
                        hasIcon: true,
                        icon: 'alert-circle'
                    })
                } else if (this.timeToAnswer < 1 || this.timeToAnswer == null) {
                    this.$dialog.alert({
                        title: this.translations.lobby.players.popup.wrongTime.title,
                        message: this.translations.lobby.players.popup.wrongTime.message,
                        type: 'is-danger',
                        hasIcon: true,
                        icon: 'alert-circle'
                    })
                } else {
                    Storage.players = this.players
                    Storage.settings = {
                        timeToAnswer: this.timeToAnswer * 1000,
                        winScore: this.winScore,
                        endless: this.isEndless,
                        progressTick: 10 }

                    this.$router.push('Game')
                }
            }
        }

    }
</script>

<style scoped>
    main {
        padding: 50px;
    }

    main > section {
        padding: 25px 0
    }

    section#players {
        width: 460px;
        padding: 10px 0px 25px 0px;
    }

    section#players * {
        overflow: hidden;
    }
</style>
