<template>
    <main>
        <h1 class="title">Menu</h1>
        <h2 class="subtitle">Here goes menu... at least in a future!</h2>
        <router-link to="/lobby" class="button is-link">Create new lobby</router-link>
    </main>
</template>

<script>
    export default {

        data () {
			return {}
        },

        methods: {}

    }
</script>

<style scoped>
    main {
        padding: 50px;
    }

    main > section {
        padding: 25px 0
    }
</style>
